body {
    background-image: linear-gradient(to right bottom, #02dfff, #00beff, #0099ff, #006eff, #0032e3);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 80%;
}

.hero {
    font-size: 5em;
    word-spacing: 2px;
    letter-spacing: 2px;
    margin: 10% auto;
    text-align: center;
    padding: 1%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}