* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #02dfff, #00beff, #0099ff, #006eff, #0032e3);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 100;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 80%;
}

.hero {
    font-size: 5em;
    word-spacing: 2px;
    letter-spacing: 2px;
    margin: 10% auto;
    text-align: center;
    padding: 1%;
    font-weight: 500;
}

h1,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addtext,
.btnadd {
    padding: .5rem;
    font-size: 2rem;
    border: none;
    background-color: #fff;
}

select {
    font-size: .9rem;
    margin: 0 0 .4vh 1vh;
    padding: .8rem;
}

.btnadd {
    color: #00beff;
    background-color: #fff;
    cursor: pointer;
    transition: all .3s ease;
    margin: 0 0 0 -5px;
}

.btnadd:hover {
    background-color: #00beff;
    color: #fff;
}

.uncom,
.com {
    min-width: 30vw;
    list-style-type: none;
}

.uncom div,
.com div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00bfff;
    margin: .4vh;
    padding: 0 .5vw;
    max-width: 50vw;
}

.uncom li,
.com li {
    flex: 1;
}

.btndel,
.btncom {
    color: #fff;
    background-color: #00bfff91;
    border: none;
    transition: all .3s ease;
    padding: .2rem;
    margin: .2rem .5rem;
    font-size: 1rem;
    align-self: flex-end;
    cursor: pointer;
}

.btndel i,
.btncom i {
    pointer-events: none;
}

.btncom {
    color: rgb(2, 241, 2);
    font-weight: 700;
}

.lidiv {
    display: flex;
}